{% load static %}
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7"><h2 class="section-title text-center">Popular Destination</h2></div>
        </div>

        <div class="owl-carousel owl-3-slider">

            <div class="item">
                <a class="media-thumb" href="{% static 'images/hero-slider-1.jpg' %}" data-fancybox="gallery">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="{% static 'images/hero-slider-1.jpg' %}" alt="Image" class="img-fluid">
                </a> 
            </div>

            <div class="item">
                <a class="media-thumb" href="{% static 'images/hero-slider-2.jpg' %}" data-fancybox="gallery">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid">
                </a> 
            </div>

            <div class="item">
                <a class="media-thumb" href="{% static 'images/hero-slider-3.jpg' %}" data-fancybox="gallery">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="{% static 'images/hero-slider-3.jpg' %}" alt="Image" class="img-fluid">
                </a> 
            </div>


            <div class="item">
                <a class="media-thumb" href="{% static 'images/hero-slider-4.jpg' %}" data-fancybox="gallery">
                    <div class="media-text">
                        <h3>Rialto Bridge</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="{% static 'images/hero-slider-4.jpg' %}" alt="Image" class="img-fluid">
                </a> 
            </div>

            <div class="item">
                <a class="media-thumb" href="{% static 'images/hero-slider-5.jpg' %}" data-fancybox="gallery">
                    <div class="media-text">
                        <h3>San Francisco, United States</h3>
                        <span class="location">United States</span>
                    </div>
                    <img src="{% static 'images/hero-slider-5.jpg' %}" alt="Image" class="img-fluid">
                </a> 
            </div>

            <div class="item">
                <a class="media-thumb" href="{% static 'images/hero-slider-1.jpg' %}" data-fancybox="gallery">
                    <div class="media-text">
                        <h3>Lake Thun</h3>
                        <span class="location">Switzerland</span>
                    </div>
                    <img src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid">
                </a> 
            </div>

        </div>

    </div>
</div>
